/*GENERAL*/
body {
  background-color: whitesmoke;
}

/*ENCABEZADO*/
.encabezado {
  background-color: #00d1b2;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.titulo {
  color: white;
  font-weight: 500;
  font-family: Roboto;
  margin-left: 30px;
}
.botonPagina {
  background-color: transparent;
  border: none;
  color: white;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Roboto;
}
.botonPagina:hover {
  background-color: cadetblue;
  border-radius: 5px;
}
